<header id="header"><!--header-->    
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img src="../images/home/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/admin/products" class=" <%= path == '/admin/products' ? 'active' : '' %>"><i class="fa fa-user"></i> Products</a></li>
                            <li><a href="/admin/add-product"class=" <%= path == '/admin/add-product' ? 'active' : '' %>" ><i class="fa fa-star"></i> Add Product</a></li>
                            <% if(isAuthenticated) { %>
                                <form method="POST" action ="/logout">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                                  <button type="submit">Logout</button>
                                </form>
                            <% } else { %>
                            <li><a href="/login" ><i class="fa fa-star"></i> Login</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->